body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}
.flexible {
  display: flex;
  height: 25%;
  color: rgb(82, 79, 79);
}
.orange {
  color: rgb(255, 115, 0);
}
h1 {
  font-size: 50px;
}

.half-width {
  width: 60%;
  padding: 5.98%;
  padding-right: 2%;
}
.order-container {
  margin-bottom: 150px;
}
.male-container {
  position: relative;
}
.male-bg {
  position: absolute;
  width: 85%;
  right: 10%;
}

.male {
  position: absolute;
  width: 91%;
  right: 20%;
  bottom: 2%;
  top: 1%;
}

p {
  padding: 10px;
  padding-bottom: 30px;
  padding-left: 0;
}

a {
  margin-top: 20px;
  padding: 10px 40px;
  color: aliceblue;
  text-decoration: none;
  border-radius: 20px;
  background-color: #f5d020;
  background-image: linear-gradient(315deg, #f5d020 0%, #f53803 74%);
}

.about-us {
  background-image: url(images/shapes/7.png);
  background-repeat: no-repeat;
  margin-bottom: 100px;
}
.female-container {
  position: relative;
}
.female {
  position: absolute;
  width: 70%;
  top: 15px;
  left: 150px;
}
.about-container {
  padding: 100px;
  padding-left: 20px;
}
.my-recipe .top {
  text-align: center;
  padding-left: 25%;
  padding-right: 25%;
}
.bottom{
    display: flex;    
    justify-content: space-around;
}
.recipe-one, .recipe-two{
    margin: 20px;
    padding: 30px;
    box-shadow: 0px 2px 10px 8px #c4c3c3;
    border-radius: 50px;
    
}

.bottom div{
    display: flex;
    width: 35%;
    flex-direction: column;
    justify-content:space-around ;    
}
.data{
    display: flex;
    justify-content: space-around;
    margin: 100px;
    box-shadow: 0px 2px 10px 8px #c4c3c3;
    border-radius: 20px;
  }


.data div p{
  padding-top: 0;
}

footer{
    background-color:rgb(8, 6, 6);
    text-align: center;
    padding: 20px;
    color: gray;
}


footer p{
    font-size: small;
}





